{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}
{% block content %}
<h1>Admin Panel</h1>
<table width="80%" class="table-bordered">
  <tr>
    <th scope="col">User name</th>
    <th scope="col">Email</th>
    <th scope="col">&nbsp;</th>
  </tr>
  {% for u in users %}
  <tr>
    <td>{{ u.name }}</td>
    <td>{{ u.email }}</td>
    <td>
      <a href="{{ u.edituserlink }}">Edit</a> |

      {% if u.admin %}
        <a href="#">Demote</a>
      {% else %}
        <a href="#">Promote</a>
      {% endif %} |

      {% if u.hidden %}
        <a href="#">Unhide</a>
      {% else %}
        <a href="#">Unhide</a>
      {% endif %}

    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}