{% extends "bnb/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>
<form action="" method="post">
<table width="80%">
  <tr>
    <th class="text-right"  scope="row"><label for="username">User name:</label></th>
    <td><input name="username" type="text" id="username" value="{{ username }}" /></td>
  </tr>
  <tr>
    <th class="text-right"  scope="row"><label for="password">Password:</label></th>
    <td><input type="text" name="password" id="password" /></td>
  </tr>
  <tr>
    <th class="text-right"  scope="row"><input type="hidden" name="return_page" value="{{ return_page }}"></th>
    <td><input name="login" type="submit" class="btn-default" id="login" value="Login" /></td>
  </tr>
</table>
</form>
<h3>Don't have an acccount? <a href="{{ register_link }}">Register one</a> now</h3>
{% endblock %}