{% extends "base.html" %}
{% block title %}Properties{% endblock %}
{% block content %}
  <form id="form1" name="form1" method="post" action="">
    <input name="textfield" type="text" id="textfield" value="Input a keyword" />
    <input name="button" type="submit" class="btn-default" id="button" value="Search" />
  </form>
  {% if properties %}
    <h1>All properties</h1>
    <table width="80%" class="table-bordered">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Creation_date</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        {% if admin %}
          <th scope="col">admin</th>
        {% endif %}
      </tr>
    {% for p in properties %}
      <tr>
        <td>{{ p.property_name }}</td>
        <td>{{ p.owner_name }}</td>
        <td>{{ p.creation_date }}</td>
        <td>{{ p.size }}</td>
        <td>{{ p.price }}</td>
        {% if admin %}
          <td>
            {% if p.hidden %}
              <a href="#">Hide</a>
            {% else %}
              <a href="#">Unhide</a>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  {% empty %}
    <h1>No properties.</h1>
  {% endif %}
{% endblock %}