{% extends "bnb/base.html" %}
{% block title %}Property Details{% endblock %}
{% block content %}
<h1>Property Details</h1>
<table width="80%" class="table-bordered">
  <tr>
    <th class="text-right" scope="row">Property:</th>
    <td>{{ p }}</td>
  </tr>
  <tr>
    <th class="text-right" scope="row">Owned by:</th>
    <td>{{ p.owner.first_name }} {{ p.owner.last_name }}</td>
  </tr>
  <tr>
    <th class="text-right" scope="row">Added at:</th>
    <td>{{ p.creation_date }}</td>
  </tr>
  <tr>
    <th class="text-right" scope="row">Size:</th>
    <td>{{ p.size|floatformat:1 }}</td>
  </tr>
  <tr>
    <th class="text-right" scope="row">Price:</th>
    <td>${{ p.price|floatformat:2 }}</td>
  </tr>
  <tr>
    <th class="text-right" scope="row">Average rating:</th>
    <td>{{ p.average_rating|floatformat:1 }} ({{ p.rating_count }} rating{{ p.rating_count|pluralize }})</td>
  </tr>
  <tr>
    <th class="text-right" scope="row">Description:</th>
    <td>{{ p.description }}</td>
  </tr>
</table>
{% if show_reservation_form %}
  <h2>Request a reservation</h2>
  <form action="{% url 'request_reservation' p.id %}" method="post">{% csrf_token %}
    <table width="80%">
      <tr>
        <th class="text-right"  scope="row"><label for="start_date">Start date:</label></th>
        <td><input name="start_date" type="text" class="datepicker" id="datepicker" value="" /></td>
      </tr>
      <tr>
        <th class="text-right"  scope="row"><label for="end_date">End date:</label></th>
        <td><input name="end_date" type="text" class="datepicker" id="end_date" /></td>
      </tr>
      <tr>
        <th class="text-right"  scope="row">&nbsp;</th>
        <td><input name="request" type="submit" class="btn-default" id="request" value="Request reservation" /></td>
      </tr>
    </table>
  </form>
{% endif %}
{% if show_admin_links %}
  {% if p.hidden %}
    <a href="{% url 'unhide_property' p.id %}">Unhide property</a>
  {% else %}
    <a href="{% url 'hide_property' p.id %}">Hide property</a>
  {% endif %}
  | <a href="{% url 'edit_property' p.id %}">Edit property</a>
{% endif %}
{% if reviews %}
<h2>Reviews</h2>
<table width="80%" class="table-bordered">
  <tr>
    <th scope="col">Reviewer</th>
    <th scope="col">Rating</th>
    <th scope="col">Comment</th>
    <th scope="col">Posted</th>
    {% if admin %}
      <th scope="col">Admin</th>
    {% endif %}
  </tr>
{% for r in reviews %}
  <tr>
    <td><a href="{% url 'user_details' r.reviewer.id %}">{{ r.reviewer.first_name }} {{ r.reviewer.last_name }}</a></td>
    <td>{{ r.rating }}</td>
    <td>{{ r.comment }}</td>
    <td>{{ r.review_time }}</td>
    {% if admin %}
      <td>
        {% if r.hidden %}
          <a href="#">Show</a>
        {% else %}
          <a href="#">Hide</a>
        {% endif %}
      </td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% else %}
<h2>This property has no reviews.</h2>
{% endif %}
{% if show_submit_review_form %}
  <h2>Submit a review.</h2>
  <form action="{% url 'review_property' p.id %}" method="post">{% csrf_token %}
    <table width="80%">
      <tr>
        <th class="text-right" scope="row"><label for="rating">Rating</label></th>
        <td>
          <ol>
            <li><input name="rating" type="radio" value="1" /></li>
            <li><input name="rating" type="radio" value="2" /></li>
            <li><input name="rating" type="radio" value="3" /></li>
            <li><input name="rating" type="radio" value="4" /></li>
            <li><input name="rating" type="radio" value="5" /></li>
          </ol>
        </td>
      </tr>
      <tr>
        <th class="text-right"  scope="row"><label for="Comment">Comment</label></th>
        <td><input name="comment" type="text" id="comment" /></td>
      </tr>
      <tr>
        <th class="text-right"  scope="row">&nbsp;</th>
        <td><input name="submit" type="submit" class="btn-default" id="submit" value="Submit review" /></td>
      </tr>
    </table>
  </form>
{% endif %}
{% endblock %}