{% extends "base.html" %}
{% block title %}DZBNB: Homepage{% endblock %}
{% block content %}
<h1>Welcome {{user.name}}</h1>
<h2><a href="{{ properties_link }}">Manage my properties</a></h2>
{% if properties %}
<h2>Recently added properties</h2>
<table width="80%" class="table-bordered">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Owner</th>
    <th scope="col">Size</th>
    <th scope="col">Price</th>
  </tr>
{% for p in properties %}
  <tr>
    <td><a href="{{ p.property_link }}">{{ p.name }}</a></td>
    <td><a href="{{ p.owner_link }} }}">{{ p.owner_name }}</td>
    <td>{{ p.size }}</td>
    <td>{{ p.price }}</td>
  </tr>
{% endfor %}
</table>
{% empty %}
<h2>There are no new properties to display.</h2>
{% endif %}
{% if reviews %}
<h2>Unapproved reservation requests</h2>
<table width="80%" class="table-bordered">
  <tr>
    <th scope="col">Property name</th>
    <th scope="col">Start date</th>
    <th scope="col">End date</th>
    <th scope="col"></th>
  </tr>
{% for r in requests %}
  <tr>
    <td>{{ r.property_name }}</td>
    <td>{{ r.start_date}}</td>
    <td>{{ r.end_date}}</td>
    <td><a href="#">Approve?</a></td>
{% endfor %}
  </tr>
{% endif %}
</table>
{% empty %}
<h2>You have no new reservation requests.</h2>
{% endif %}
{% endblock %}